* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-size: 18px;
    list-style: none;
    text-decoration: none;
}

a {
    color: #000;
}

a:hover {
    background-color: rgba(0, 0, 0, .05);
}

header {
    display: flex;
    height: 70px;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-bottom: 20px;
    max-width: 1220px;
    
}

#logo img {
    height: 70px;
    width: auto;
}

header ul {
    display: flex;
    gap: .6rem;
}

header ul li a {
    display: block;
    padding: 10px 5px;
}

#btn-mobile {
    display: none;
}

main {
    display:flex;
    justify-content: center;
    max-width: 1220px;
    margin: auto;
}

.myself {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.myself span {
    font-size: 25px;
    font-weight: 700;
}
.myself-content {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    width: 750px;
    
}
.myself p {
    font-size: 20px;
    margin: 20px 0;
    line-height: 30px;
}

.myself-content h1 {
    display: flex;
    flex-direction: column;
    font-size: 80px;
    letter-spacing: 5px;
}
.myself-img {
    background-image: url("./images/img.jpg");
    background-size: cover;
    border-radius: 50%;
    width: 370px;
    height: 370px;

}


.social-media {
    display: flex;
    justify-content: center;
    column-gap: 40px;
    margin-top: 50px;
}

.media {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.linkedin {
    transition: 0.5s;
}

.linkedin:hover {
    width: 180px;
    background-color: #0288d1;
    border-radius: 40px;
}

.linkedin::after {
    content: '';
    color: transparent;
    position: absolute;
    align-self: center;
    margin: 10px;
    width: 45px;
}

.linkedin:hover::after{
    content: 'LinkedIn';
    color: #FFF;
    transition: 1s;
}

.github {
    transition: 0.5s;
}

.github:hover {
    width: 180px;
    background-color: #000;
    border-radius: 40px;
}

.github::after {
    content: '';
    color:transparent;
    position: absolute;
    align-self: center;
    margin: 10px;
    transition: .5s;
    width: 45px;
}

.github:hover::after{
    content: 'github';
    color: #FFF;
    transition: 1s;
}

.email {
    transition: 0.5s;
}

.email:hover {
    width: 180px;
    background-color: #111B44;
    border-radius: 40px;
}

.email::after {
    content: '';
    color:transparent;
    position: absolute;
    align-self: center;
    margin: 10px;
    transition: .5s;
    width: 45px;
}

.email:hover::after{
    content: 'Email';
    color: #FFF;
    transition: 1s;
}

.whatsapp {
    transition: 0.5s;
}

.whatsapp:hover {
    width: 180px;
    background-color: #40C351;
    border-radius: 40px;
}

.whatsapp::after {
    content: '';
    color:transparent;
    position: absolute;
    align-self: center;
    margin: 10px;
    transition: .5s;
    width: 45px;
}

.whatsapp:hover::after{
    content: 'WhatsApp';
    color: #FFF;
    transition: 1s;
}

.social-media a img {
    width: 45px;
}

.all-projects {
    display: flex;
    flex-direction: column;
    max-width: 1220px;
    margin:25px auto;
    border-top: rgba(0, 0, 0, 0.212) solid 1px;
    padding: 10px;
}


.all-projects h2 {
    margin: auto;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    padding: 20px;
}

.projects {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px auto;
    width: 350px;
    height: 210px;
    border: solid #0b1a1a81;
}

@media(max-width: 1120px) {

    *{
        font-size: 18px;
    }

    .myself {
        flex-direction: column-reverse;
        align-items: center;
    }

    .myself-content {
        width: 100%;
    }

}

@media(max-width:720px) {
    /*A partir daqui começa minha configuração mobile*/
    #btn-mobile {
        display: block;
    }

    #menu { 
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: -100%;
        z-index: 1000;
        height: calc(100vh - 70px);
        background-color: #FFF;
        transition:  .8s;   
    }

    #nav.active #menu {
        display: block;
        right: 0;
    }

    #menu a {
        margin: 1rem;
        padding: 1rem 0;
    }

    #btn-mobile {
        display: flex;
        border: none;
        font-size: 1rem;
        cursor: pointer;
        background: none;
        padding: .5 1rem;
        gap: .5rem;
    }

    #hamburger {
        display: block;
        width: 20px;
        border-top: 2px solid;
    
    }

    #hamburger::after, #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .8s;
        position: relative;
    }

    nav.active #hamburger {
        border-top: transparent;
    }

    nav.active #hamburger::before {
        transform: rotate(225deg);
    }

    nav.active #hamburger::after {
        transform: rotate(135deg);
        top: -7px;
    }
}
