* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
    list-style: none;
    text-decoration: none;
}

.menu-mobile {
    margin-top: 30x;
    margin-left: 30px;
    display: none;
}

.menu-mobile .menu-lines {
    position: absolute;
    z-index: 999;
    width: 35px;
    height: 35px;
}

.menu-mobile .menu-lines span {
    display: block;
    width: 35px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #000;
    border-radius: 3px;
    transition: all ease .3s;
}

.menu-mobile .menu-fakertrigger {
    position: absolute;
    z-index: 1000;
    width: 35px;
    height: 35px;
    opacity: 0;
    cursor: pointer;
}

.menu-mobile .menu-fakertrigger:checked~.menu-lines span {
 background-color: #000;
}

.menu-mobile .menu-fakertrigger:checked~.menu-lines span:nth-child(1) {
     transform-origin: 0% 0%;
     transform: rotate(45deg) scaleX(1.25);
}

.menu-mobile .menu-fakertrigger:checked~.menu-lines span:nth-child(2) {
    opacity: 0;
}

.menu-mobile .menu-fakertrigger:checked~.menu-lines span:nth-child(3) {
    transform-origin: 0% 100%;
    transform: rotate(-45deg) scaleX(1.25);
}

.menu-mobile ul {
    position: absolute;
    z-index: 998;
    left: 0;
    top: 0;
    width: 100%;
    padding: 100px;
    height: calc(100vh - 100px);
    background-color: EDEDED;
    margin-left: -100%;
    background-color: #f9fffb;
    transition: all ease .3s;
    line-height: 80px;
    text-align: center;
}

.menu-mobile ul li{
    margin: 10px;
    padding: 10px;
}

.menu-mobile ul li a:hover {
    color: #171717a6;
}
.menu-mobile .menu-fakertrigger:checked~ul{
    margin: 0;
}


a {
    text-decoration: none;
    color: black;
}

main {
    display:flex;
    justify-content: center;
    max-width: 1220px;
    margin: auto;
}

header .menu-nav {
    display: flex;
    justify-content: space-between;
    max-width: 1220px;
    margin: auto;
    padding: 25px 10px;
}

.logo {
    display: flex;
    align-items: center;
}
.menu ul{
    display: flex;
    list-style: none;
}

.menu ul li {
 
    margin-left: 25px;
    cursor: pointer;
}

.menu ul li a:hover {
    color: #171717a6;
    transition: all ease .3s;
}

.myself {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fx {
    flex-grow: 1;
}

.myself span {
    font-size: 25px;
    font-weight: 700;
}
.myself-content {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    width: 750px;
    
}
.myself p {
    font-size: 20px;
    margin: 20px 0;
    line-height: 30px;
}

.myself-content h1 {
    display: flex;
    flex-direction: column;
    font-size: 80px;
    letter-spacing: 5px;
}
.myself-img {
    background-image: url("../images/img.jpg");
    background-size: cover;
    border-radius: 50%;
    width: 370px;
    height: 370px;

}


.social-media {
    display: flex;
    justify-content: center;
    column-gap: 40px;
    margin-top: 50px;
}

.media {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.linkedin {
    transition: 0.5s;
}

.linkedin:hover {
    width: 180px;
    background-color: #0288d1;
    border-radius: 40px;
}

.linkedin::after {
    content: '';
    color: transparent;
    position: absolute;
    align-self: center;
    margin: 10px;
    width: 45px;
}

.linkedin:hover::after{
    content: 'LinkedIn';
    color: #FFF;
    transition: 1s;
}

.github {
    transition: 0.5s;
}

.github:hover {
    width: 180px;
    background-color: #000;
    border-radius: 40px;
}

.github::after {
    content: '';
    color:transparent;
    position: absolute;
    align-self: center;
    margin: 10px;
    transition: .5s;
    width: 45px;
}

.github:hover::after{
    content: 'github';
    color: #FFF;
    transition: 1s;
}

.email {
    transition: 0.5s;
}

.email:hover {
    width: 180px;
    background-color: #111B44;
    border-radius: 40px;
}

.email::after {
    content: '';
    color:transparent;
    position: absolute;
    align-self: center;
    margin: 10px;
    transition: .5s;
    width: 45px;
}

.email:hover::after{
    content: 'Email';
    color: #FFF;
    transition: 1s;
}

.whatsapp {
    transition: 0.5s;
}

.whatsapp:hover {
    width: 180px;
    background-color: #40C351;
    border-radius: 40px;
}

.whatsapp::after {
    content: '';
    color:transparent;
    position: absolute;
    align-self: center;
    margin: 10px;
    transition: .5s;
    width: 45px;
}

.whatsapp:hover::after{
    content: 'WhatsApp';
    color: #FFF;
    transition: 1s;
}

.social-media a img {
    width: 45px;
}



@media(max-width: 1120px) {

    *{
        font-size: 18px;
    }

    .myself {
        flex-direction: column-reverse;
        align-items: center;
    }

    .myself-content {
        width: 100%;
    }

}

@media(max-width:720px) {
    /*A partir daqui começa minha configuração mobile*/
    header .menu-nav {
        display: none;
    }

    .menu-mobile {
        display: block;
        margin-top: 30px;
    }

    .menu-mobile .logo-mobile {
        display: flex;
        justify-content: flex-end;
        padding: 6px 10px;
    }
}
